body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0px;
  color: white;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

#canv-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 20px;
  margin: 20px;
  height: 500px;
}

#inputs1 {
  border: 1px solid #888888;
  width: 350px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 1px 3px #888888;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  font-size: 20px;
}

#inputs2 {
  border: 1px solid #888888;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 3px #888888;
  margin-bottom: 30px;
  color: white;
  font-size: 20px;
}

input {
  height: 30px;
  font-size: 20px;
}

#canvas {
  margin-left: -100px;
  margin-right: 40px;
}

.generate {
  padding: 10px;
  margin: 30px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: whitesmoke;
  font-size: 20px;
}

.genManual {
  display: flex;
  align-content: center;
  justify-content: center;
}

.userplay {
  width: 650px;
  height: 500px;
}

.genLoop {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.strtPtrnPlay,
.stop-resume {
  width: 220px;
  height: 50px;
  border-radius: 5px;
  padding-right: 20px;
  background-color: whitesmoke;
  font-size: 20px;
}

.strtPtrnPlay {
  margin-bottom: 20px;
}

.strtPtrnPlay:hover {
  background-color: black;
  color: white;
}

.stop-resume:hover {
  background-color: black;
  color: white;
}

.generate:hover {
  background-color: black;
  color: white;
}

#loopbtns {
  width: 160px;
}

body {
  background-color: black;
}
